.header {

    display: inline;
    height: 150px;
}

.main{
    margin: 20px 20px 20px 20px;
    display: inline-block;
}

.footer {
    background-color: cadetblue;
    margin: 20px 20px 20px 20px;
    display: block;
    height: 150px;
}

.right {
    width: 80%;
    float: left;
}

.left {
    width: 19%;
    float: left;
    margin-right: 1%;
}

img{
    width: 100%;
    height: 100%;
}

.img-logo{

    width: 15%;
    height: 15%;
    margin: 20px 20px 20px 20px;
}

.name {
    background-color: chartreuse;
    margin: 20px 20px 20px 20px;
}

.tw {
    background-color: burlywood;
}

.hobby {
    width: 35%;
    float: left;
    margin-right: 20px;
}

.review {
    width: 35%;
    float: left;
}